
.responsive-image {
    margin-top: 25px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .responsive-image {
        max-width: 97%;
        height: 230px;
        object-fit:cover; 
    }
}